<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Gestion Contact</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">Liste Contacts</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Contacts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/nouveau-contact">Nouveau Contacts</a>
          <a class="dropdown-item" routerLink="/new-contact">New Contact</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <div class="btn-group mr-sm-2">
      <div class="btn-group dropleft" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropleft</span>
        </button>
        <div class="dropdown-menu ">
          <a class="dropdown-item" href="#"><i class="fa fa-user fa-fw"></i>Profil</a>
          <a class="dropdown-item" href="#"><i class="fa fa-globe fa-fw"></i>Fr </a>
          <a class="dropdown-item" href="#"><i class="fa fa-globe fa-fw"></i>En  </a>
          <a class="dropdown-item" href="#"><i class="fa fa-sign-out fa-fw"></i>Logout  </a>

        </div>
      </div>
      <button type="button" class="btn btn-secondary">
        Split dropleft
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

